/* Estilo para o botão de chat */
.chat-button {
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Ícone dentro do botão */
.chat-button img {
    width: 30px;
    height: 30px;
}

/* Caixa do chat */
.chat-box {
    position: fixed;
    bottom: 80px; /* Ajustando para não sobrepor o botão */
    right: 10px;
    width: 320px;
    height: 420px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    padding: 10px 15px 35px 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Cabeçalho da caixa de chat */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Título do chat */
#chatTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Botão de fechar */
#closeChatBtn {
    background-color: #ff6f61;
    color: white;
    border: none;
        padding: 9px 0px 5px 0px;
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    font-size: 14px;
}

#closeChatBtn:hover {
    background-color: #e25547;
}

/* Mensagens no chat */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 70%; /* Ajustando o tamanho da área de mensagens */
    font-size: 14px;
    color: #555;
}

/* Caixa de mensagem */
.chat-message {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    word-wrap: break-word;
}

/* Mensagem não lida */
.chat-message.unread-message {
    background-color: #f1f1f1;
}

/* Input de mensagem */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Notificação de nova mensagem no botão */
.chat-button.new-message {
    background-color: #dc3545;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

/* Estilo para o botão de logout */
.logout-btn {
    background-color: #f44336; /* Cor vermelha */
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-left: 10px; /* Espaçamento à esquerda para não grudar no nome */
}

/* Hover effect */
.logout-btn:hover {
    background-color: #d32f2f;
}

/* Estilo para o efeito de piscar no botão de chat */
@keyframes blink {
    0% {
        background-color: #FF6347; /* Cor de destaque */
    }
    50% {
        background-color: #FF4500; /* Cor de destaque mais intensa */
    }
    100% {
        background-color: #FF6347;
    }
}

.blinking-button {
    animation: blink 1s infinite; /* Faz o botão piscar a cada 1 segundo */
}
  